@import "../common/mixins";


.Comment {
    @include comment-font;
    min-width: 50%;
    max-width: 80%;
    min-height: 40%;
    background-color: #FFDFD3;
    border-radius: 20px;
    margin-top: 15px;
    text-align: left;
    padding: 10px;

    text {
        font-weight: bold;    
    }
}
