@import "../common/variables";


.Like button {
    width: 20%;
    height: 30%;
    background-color: #EDFFE0;
    border-radius: 20px;
    position: relative;
    left: 80%;
    margin-top: 5px;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    img {
        width: $like_size + px;
        height: $like_size + px;
    }
}