.LoadingCircle {
    height: 100px;
    width: 100px;
    border: 6px solid;
    border-color: black transparent black transparent;
    border-radius: 50%;   
    animation: rotate-loading 1s linear infinite;
    align-items: center;
    margin: 20px;
}


@keyframes rotate-loading {
   to {
    transform: rotate(360deg);
   }
}