.Review {
    background-color: #957DAD;
    min-height: 10vh;
    width: 80ch;
    border: 2px solid;
    border-radius: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
}

.Review text {
    text-decoration: underline
}